* {
  box-sizing: border-box;
}

:root {
  --creamwhite: #f4f5f9;
  --primaryblue: #1d4946;
  --coloraccent: #40b16d;
  --primarydark: #050a1d;
  --textLight: #f4f5f977;
  --animate-duration: 800ms;
  --animate-delay: 0.9s;
}

body {
  margin: 0px;
  padding: 0px;
  background: white;
  font-family: "Lora", serif;
  position: relative;
  overflow: auto;
}

div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
img {
  margin: 0px;
  padding: 0px;
}

.wrapper {
  position: relative;
}
.wrapper .header {
  background: var(--primaryblue);
  color: white;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 8vh;
}
.wrapper .header div {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 0.5em;
}
.wrapper .header img {
  display: block;
  height: 5vh;
  margin-bottom: auto;
  margin-top: auto;
  cursor: pointer;
}
.wrapper .header h4 {
  text-align: center;
  color: white;
  height: fit-content;
  padding: 1em;
  margin-left: auto;
  margin-bottom: auto;
  margin-top: auto;
  display: block;
  cursor: pointer;
}
.wrapper .header h4:hover {
  color: var(--coloraccent);
}
.wrapper #map {
  width: 100%;
  height: 87vh;
  position: absolute;
  top: 8vh;
  left: 0;
  cursor: auto;
}
.wrapper .loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #1d4946;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}
.wrapper h3 {
  text-align: center;
  color: var(--primaryblue);
  width: 100%;
}
.wrapper form {
  min-width: 300px;
  padding: 0.5em;
}
.wrapper form input {
  border: none;
  outline: none;
  box-shadow: 0px 0px 1px 1px #60606034;
  padding: 0.5em;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 0.5em;
  font-size: 9pt;
}
.wrapper form h2 {
  color: var(--primaryblue);
  text-align: center;
  margin: 0.5em;
  font-size: small;
}
.wrapper form button {
  background: var(--primaryblue);
  color: white;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0.5em;
  display: block;
  margin: auto;
  margin-top: 1em;
  width: 80%;
}
.wrapper form .selct {
  display: grid !important;
  grid-template-columns: auto 1fr !important;
}
.wrapper form .selct select {
  outline: none;
  box-shadow: 0px 0px 1px 1px #60606034;
  background: white;
  border-radius: 5px;
  margin-bottom: 0.3em;
  margin-top: 0.3em;
  text-align: center;
  border: none;
  font-size: small;
}
.wrapper form .selct p {
  width: fit-content;
  margin-right: 0.5em;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.wrapper h1 {
  width: 100%;
  text-align: center;
  padding: 1em;
  font-size: small;
  position: fixed;
  bottom: 0;
  left: 0;
  background: var(--primarydark);
  z-index: 999;
  color: white;
}
.wrapper #popup:hover {
  border: 1px solid var(--coloraccent);
}
.wrapper .inactive {
  position: fixed;
  right: 1em;
  top: 10vh;
  padding: 0.5em;
  z-index: 9999;
  border-radius: 5px;
  background: #606060;
  color: white;
  cursor: pointer;
}
.wrapper .active {
  position: fixed;
  right: 1em;
  top: 10vh;
  padding: 0.5em;
  z-index: 9999;
  border-radius: 5px;
  cursor: pointer;
  background: var(--coloraccent);
  color: var(--primarydark);
}
.wrapper .gps {
  position: fixed;
  right: 1em;
  top: 15vh;
  padding: 0.5em;
  z-index: 9999;
  border-radius: 50%;
  cursor: pointer;
  width: 50px;
  height: 50px;
}
.wrapper #total {
  position: fixed;
  right: 1em;
  top: 22vh;
  padding: 0.5em;
  z-index: 9999;
  background: var(--coloraccent);
  color: white;
  padding: 0.5em;
}

@media only screen and (min-width: 0px) and (max-width: 599px) {
  * {
    font-size: small;
  }
}
@media only screen and (min-width: 599px) and (max-width: 767px) {
  * {
    font-size: small;
  }
}

/*# sourceMappingURL=index.css.map */
